# Node.js dependencies
node_modules/

# Build directories
/build/
dist/

# Environment files
.env  # Ignore environment variable files
.env.local  # Local environment configuration
.env.*.local  # Other local environment variable files

# Log files
*.log

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store  # MacOS-specific files
Thumbs.db  # Windows-specific files

# IDE directories
.vscode/  # VS Code workspace settings
.idea/  # JetBrains IDE settings

# TailwindCSS build folder (if using Tailwind)
tailwindcss/
